<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>NLP News Article Evaluator</title>
</head>

<body>

    <header>
        <div class="logo">
            Logo
        </div>
        <div class="nav">
            Navigation
        </div>
    </header>
    <h1>NLP News Article Evaluator</h1>
    <main>
        <section class="api-request">
            <form id="request-form" onsubmit="return Client.handleSubmit(event)">
                <input type="text" id="text-input" name="text-input" placeholder="Enter the URL of your article"
                    aria-describedby="entry-description">
                <span id="entry-description">*Only non-authenticated HTTP and FTP are supported</span>
                <input type="submit" name="anlayse-content" value="Analyse Content"
                    onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>

        <section class="api-response">
            <h2>Sentiment Analysis Results:</h2>
            <div id="results"></div>
        </section>
    </main>

    <footer>
        <p>Footer</p>
    </footer>

</body>

</html>