header {
    color: #ddd;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;

    .logo {
        border: 1px solid #f5f5f5;
        padding: 10px 40px;
    }

    .nav {
        border: 1px solid #f5f5f5;
        text-align: center;
        padding: 10px 100px;
    }
}